.sidecard.py-30 {
  padding-right: 30px;
  padding-left: 30px;
  position: relative;

  h3.h3-md {
    margin-bottom: 20px;
    color: #222;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    letter-spacing: -0.25px;
    font-size: 32px;
  }
  span.line {
    border-bottom: 3px solid #058fce;
    position: absolute;
    top: 13px;
    width: 100px;
    color: #ffffff;
  }

  span.section-id {
    font-size: 0.825rem;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.5px;
    margin-bottom: 28px;

    a {
      color: #333;
      text-decoration: none;
    }

    a.btn.btn-blue {
      color: #fff;
      background-color: #9eb092;
      border-color: #9eb092;
    }
  }
}
