.hero-section {
  position: relative;
  overflow: hidden;
  margin-top: 116px;
  img {
    max-width: 100%;
    height: auto;
    opacity: 0.85;
  }

  .figcaption {
    position: absolute;
    top: 170px;

    p {
      color: white;
      font-size: 35px;
      font-weight: 700;
      text-shadow: 0 3px 9px #000;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

      span.line {
        border-bottom: 10px solid #da251e;
      }
    }
  }
}

.p-20 {
  padding: 20px 0px;
}

.about-section {
  background: #f0f0f0;
  padding: 45px 0 0 0;

  .row.notice {
    position: relative;
  }
  .col-md-5.noticeCard {
    position: absolute;
    right: 30px;
    top: -130px;
  }
}


.service-section{
  background: #f0f0f0;
  padding: 65px 0;
}
.message-section {
  .px-65 {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

.appointment-section {
  position: relative;

  img.appoint-img {
    max-width: 100%;
    height: auto;
    opacity: 0.9;
  }

  .appointment-figcaption {
    position: absolute;
    top: 100px;
    left: 550px;
  }
}

.services {
  position: relative;

  h3.title {
    color: #222;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    letter-spacing: -0.25px;
    font-size: 24px;
    margin-bottom: 50px;
  }

  span.line {
    border-bottom: 3px solid #058fce;
    position: absolute;
    top: 90px;
    width: 73px;
    color: #f0f0f0;
  }
}

@media only screen and (max-width: 768px) {
  .figcaption {
    display: none;
  }

  .about-section {
    padding: 15px 0;

    .row.notice {
      padding: 0px;
    }
  }

  .message-section .px-65 {
    padding-bottom: 0px;
  }

  .services {
    h3.title {
      margin-bottom: 15px;
      margin-top: 15px;
    }
    span.line {
      top: 35px;
    }
  }

  .appointment-section {
    display: none;
  }

  .appointment-figcaption,
  .col-md-5.noticeCard {
    position: unset !important;
  }
}

@media only screen and (max-width: 425px) {
  .col-md-6 {
    padding: 10px 0;
  }
}
